.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero__about {
  width: 100%;
  height: 70vh;
  position: relative;
}

.hero__about h1 {
  padding-top: 64px !important;
  width: 100%;
  padding-left: 24px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fade-in 400ms 550ms backwards;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.hero__text h1 {
  font-size: 68px;
  font-weight: 700;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fade-in 900ms 1050ms backwards;
}

.hero__text p {
  font-size: 32px;
  color: white;
  padding: 16px 0 24px 0;
  animation: fade-in 1200ms 1300ms backwards;
}

.hero__text .show { /* Show button on hero */
  text-decoration: none;
  background: white;
  width: 20%;
  padding: 16px 0;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  animation: fade-in 1400ms 1500ms backwards;
  transition: all 300ms ease;
}

.hero__text .hide { /* Hide button on hero */
  display: none;
}

.hero__text .show:hover {
  background: #ff5539;
  color: white;
  transition: all 300ms ease;
}


/* Larger handhelds */
@media (max-width: 768px) {
  .hero__text h1 {
    font-size: 48px;
  }

  .hero__text p {
    font-size: 24px;
  }

  .hero__text .show {
    padding: 12px 0px;
    font-size: 20px;
  }

}

/* Small handhelds */
@media (max-width: 550px) {
  .hero__text h1 {
    font-size: 36px;
  }

  .hero__text p {
    font-size: 18px;
  }

  .hero__text .show {
    padding: 12px 0;
    font-size: 16px;
    width: 35%;
  }

  .hero__about h1 {
    text-align: center;
  }
}